body {
  font-family: "Poppins";
}

h1.title {
  text-align: center;
}

#product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.product {
  background-color: #d7e2fa;
  margin: 20px;
}

div.product .product-name {
  padding: 20px;
}